*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    

}
a{
    text-decoration: none;
}

#navbar{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #444;

    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 30px;
}
.bar{
    display: none;
}
.bar i{
    font-size: 30px;
    transition: all .5s ease;
}
.nav-items{
    display: flex;
    gap: 30px;
}
.nav-items h3 a{
    padding: 10px 20px;
    border-radius: 5px;
}
.nav-items h3 a{
    color: #fff;
}
.nav-items h3 a:hover{
    background-color: #fff;
    color: #444;
   
}

.pages{
    width: 100%;
    height: 100%;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#Home{
    background-color: rgb(201, 174, 245);
}

#About{
    background-color: rgb(64, 69, 74);
}
#News{
    background-color: lightgreen;
}
#Services{
    background-color: lightyellow;
}
#Contact{
    background-color: rgb(174, 245, 236);
}


@media (max-width: 800px){
    .bar{
        display: block;
    }
    
    .nav-items{
        display: none;
    }
     .show{
        position: fixed;
        top: 100px;
        background-color: #444;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
    .show h3{
        width: 100%;
        margin: 40px 0;
        padding: 10px;
        display: flex;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        transition: all .5s linear;
       /* border: 1px solid red; */
    }
    .show h3 a{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .show h3 a:hover{
        background-color: #fff;
        color: #444;
    }
}